<form class="options-form">
    <div class="options-number">
        Number of questions: <input name="options-number" type="number" class="question-number" [(ngModel)]="options.amount" value="10"><br>
    </div>
    <div class="options-category">
        Category: <br>
        <select name="options-category" class="question-category" [(ngModel)]="options.category">
      <option class="questionCategory" value="">All</option>
      <option *ngFor="let trivia_category of trivia_categories" class="{{trivia_category.name}}" value="{{trivia_category.id}}">{{trivia_category.name}}</option>
    </select><br>
    </div>
    <div class="options-difficulty">
        Question Difficulty: <br>
        <input type="radio" name="options-difficulty" id="any" value="" [(ngModel)]="options.difficulty" checked><label for="any">Any</label><br>
        <input type="radio" name="options-difficulty" id="easy" value="easy" [(ngModel)]="options.difficulty"><label for="easy">Easy</label><br>
        <input type="radio" name="options-difficulty" id="medium" value="medium" [(ngModel)]="options.difficulty"><label for="medium">Medium</label><br>
        <input type="radio" name="options-difficulty" id="hard" value="hard" [(ngModel)]="options.difficulty"><label for="hard">Hard</label><br>
    </div>
    <div class="options-type">
        Question Types: <br>
        <select name="options-type" class="question-type" [(ngModel)]="options.type">
            <option class="questionType" value="">All</option>
            <option class="questionType" value="multiple">Multiple Choice</option>
            <option class="questionType" value="boolean">True / False</option>
        </select><br>
    </div>
</form>
<button class="get-questions" (click)="getOptions()">GENERATE QUESTIONS</button>